<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yangna.lbdsp">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /><!--    允许程序通过GPS芯片接收卫星的定位信息 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /><!--    允许程序通过WiFi或移动基站的方式获取用户错略的经纬度信息 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation,ProtectedPermissions" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 自动更新URI跳转安装时需要 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 解锁屏幕需要的权限 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" /> <!-- 申请电源锁需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- android 9.0之后使用前台服务，需要添加权限 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".common.base.BaseApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:maxAspectRatio="2.4"
        android:persistent="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="android:allowBackup">
        <activity android:name="com.wwb.laobiao.message.ZanActivity"></activity>
        <activity android:name="com.wwb.laobiao.message.FensiActivity" />
        <activity android:name="com.wwb.laobiao.message.PinglunActivity" />
        <activity android:name="com.wwb.laobiao.address.UserAdaddressActivity" />
        <activity android:name=".mall.view.Salestivity" />
        <activity android:name=".wxapi.LookorderActivity" />
        <activity android:name="com.wwb.laobiao.address.EditUserAddressActivity" />
        <activity android:name=".mall.view.CommentsActivity" />
        <activity android:name=".mall.view.MallOrderListActivity" />
        <activity
            android:name="com.shuiying.videomanage.EditVideoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".mall.view.ShoppingCartActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/new_app_file_paths" />
        </provider>

        <service android:name=".widget.DownloadService" />

        <activity android:name=".mine.view.PersonalHomeActivity" />
        <activity android:name=".home.view.VideoRecordActivity" />

        <service
            android:name="com.wwb.laobiao.youmeng.YouMengPushIntentService"
            android:exported="false" />

        <activity android:name=".PublishActivity" />

        <meta-data
            android:name="server_mode"
            android:value="${server_environment}" />
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity
            android:name=".splash.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity> <!-- 主页 -->

        <activity
            android:name="com.hn.book.view.BookListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" /> <!-- 登陆页 android:screenOrientation="portrait"限制此页面数竖屏显示 -->
        <activity
            android:name=".login.view.LoginActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" /> <!-- 登陆扫码页 android:screenOrientation="portrait"限制此页面数竖屏显示 -->
        <activity
            android:name=".login.view.LoginCustomActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".login.view.AdvertisementActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".login.view.WebViewActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.wwb.laobiao.address.FukuanActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <data android:scheme="wxb066fdba033fba34" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".wxapi.WXPayActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.wwb.laobiao.address.AddressActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".home.view.MallActivity"
            android:launchMode="singleTask" />

        <!--百度地图架包 虚拟定位-->
        <activity
            android:name=".home.view.LocationsimulatorActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <!--声明百度地图定位的service-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <!--虚拟定位服务-->
        <service android:name=".home.view.MockLocationService" />

        <activity
            android:name=".mall.view.GoodsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mall.view.UploadGoodsActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mall.view.StoreManagementActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mall.view.ModifyStoreNamePictureActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".home.view.PlayListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mine.view.PlayListActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mine.view.SettingActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mine.view.EditDataActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mine.view.AccountBalanceActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mine.view.GoldCoinActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mine.view.WithdrawalCardActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mine.view.AddInvitationCodeActivity"
            android:launchMode="singleTask" /> <!-- 扫描专用 -->
        <activity
            android:name=".mine.view.WebActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mine.view.ProtocolActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".mine.view.PrivacyActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".common.base.CustomActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name="com.wwb.laobiao.usmsg.websocketclient.WebMainActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize|stateHidden|stateAlwaysHidden" />
        <activity
            android:name="com.wwb.laobiao.hongbao.view.RankingActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.wwb.laobiao.hongbao.view.YaoqingActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.wwb.laobiao.Search.view.SearchActivity0"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.wwb.laobiao.Search.view.SearchActivity1"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name="com.wwb.laobiao.usmsg.websocketclient.im.JWebSocketClientService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.wwb.laobiao.usmsg.websocketclient.im.JWebSocketClientService$GrayInnerService"
            android:enabled="true"
            android:exported="false"
            android:process=":gray" />
        <service
            android:name="com.taobao.accs.ChannelService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.SERVICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.ELECTION" />
            </intent-filter>
        </service>
        <service
            android:name="com.taobao.accs.data.MsgDistributeService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.wwb.laobiao.common.Receiver.TransactionReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="trans.action" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.taobao.accs.EventReceiver"
            android:process=":channel">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.taobao.accs.ServiceReceiver"
            android:process=":channel">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.START_FROM_AGOO" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.taobao.accs.internal.AccsJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":channel" />
        <service
            android:name="com.taobao.accs.ChannelService$KernelService"
            android:process=":channel" />
        <service
            android:name="org.android.agoo.accs.AgooService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.taobao.accs.intent.action.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.XiaomiIntentService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.taobao.agoo.AgooCommondReceiver"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengMessageIntentReceiverService"
            android:exported="true"
            android:process=":channel">
            <intent-filter>
                <action android:name="org.android.agoo.client.MessageReceiverService" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" />

        <service
            android:name="com.umeng.message.UmengMessageCallbackHandlerService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="com.umeng.messge.registercallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.enablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.disablecallback.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.handler.action" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.umeng.message.message.sendmessage.action" />
            </intent-filter>
        </service>
        <service
            android:name="com.umeng.message.UmengDownloadResourceService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".common.base.DataService" />

        <provider
            android:name="com.umeng.message.provider.MessageProvider"
            android:authorities="${applicationId}.umeng.message"
            android:exported="false">
            <grant-uri-permission android:pathPattern=".*" />
        </provider> <!-- 以下为基本配置信息，需要自行添加至您的AndroidManifest文件中 end -->
        <!-- 魅族 end -->
        <!-- VIVO厂商通道 start -->
        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="此处改为VIVO后台真实参数" />
        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="此处改为VIVO后台真实参数" /> <!-- VIVO厂商通道 end -->
        <!-- HUAWEI厂商通道 start -->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=此处改为VIVO后台真实参数" />
    </application>

</manifest>